* {
  margin: 0px;
}

.box {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "left header right"
    "left main right"
    "left bottom right";
  grid-template-columns: 300px 1fr 200px;
  grid-template-rows: 200px 1fr 100px;
}
.header {
  grid-area: header;
  background-color: red;
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: space-evenly;
  /*
    olhar isso ai dps
   
    display: flex;
    justify-content: space-evenly;
    */
}
.left {
  grid-area: left;
  background-color: purple;
  display: grid;
  grid-template-areas:
    "img"
    "box1"
    "box2";

  grid-template-columns: 300px;
  grid-template-rows: 200px 200px 1fr;
}
.img {
  grid-area: img;
}
img {
  width: 100%;
  height: 100%;
}
.left > .box1 {
  background-color: yellow;

  font-size: 20px;
  text-align: center;
  grid-area: box1;
}
.left > .box1 > p {
  padding-top: 25px;
}
.left > .box2 {
  background-color: lime;

  font-size: 20px;
  grid-area: box2;
}

.right {
  grid-area: right;
  background-color: rosybrown;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right .p1 {
  background-color: red;
  height: 200px;
}
.right .p2 {
  background-color: green;
  height: 300px;
}
.right .p3 {
  background-color: yellow;
  height: 300px;
}
.main {
  grid-area: main;
  background-color: darkblue;
  display: flex;
  
}
.c1 {
  height: 700px;
  width: 33.4%;
  background-color: pink;
}
.c2 {
  height: 700px;
  background-color: brown;
  width: 33.3%;
}
.c3 {
  height: 700px;
  background-color: purple;
  width: 33.3%;
}

.bottom {
  grid-area: bottom;
  background-color: green;
  display: flex;
  justify-content: space-evenly;
}
